<!DOCTYPE html>
<html>
    <head>
        <!-- Load all CSS at beginning of head -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>Welcome to Zeb's Movie Supersearch!</title>
    </head>
    <body>
        <h1 id="movieSearchHeader">Looking for movie information?  You've come to the right place!</h1>
        <form id="movieSearchForm">
            <input type="text" id="movieSearchText" class="formItems"/>
            <input type="submit" id="movieSearchButton" class="formItems buttons" value="Search Movie Titles"/>
        </form>
        <div id="movieDisplay"></div>
        <h1>Browse Personal <a href="/favorites">Favorites</a></h1>
    </body>
    <!-- Load all JS after page elements -->
    <script type="text/javascript" src="/js/movieSearch.js"></script>
</html>